services:
  mysql:
    image: mysql:8.0
    container_name: mysql
    environment:
      - MYSQL_ROOT_PASSWORD=root
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

  rabbitmq:
    image: rabbitmq:management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    environment:
      - RABBITMQ_DEFAULT_USER=admin
      - RABBITMQ_DEFAULT_PASS=admin

  zookeeper:
    image: confluentinc/cp-zookeeper:7.6.0
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
      ZOO_4LW_COMMANDS_WHITELIST: ruok
    ports:
      - "2181:2181"
    healthcheck:
      # test: ["CMD", "bash", "-c", "echo ruok | nc localhost 2181 | grep imok"]
      test: ["CMD", "bash", "-c", "echo srvr | nc localhost 2181"]
      interval: 10s
      timeout: 5s
      retries: 5

  kafka:
    image: confluentinc/cp-kafka:7.6.0
    container_name: kafka
    depends_on:
      zookeeper:
        condition: service_healthy
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    healthcheck:
      test: ["CMD", "bash", "-c", "kafka-topics --bootstrap-server localhost:9092 --list"]
      interval: 15s
      timeout: 10s
      retries: 5

  server:
    build: ./server
    container_name: ms-server
    ports:
      - "8080:8080"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/actuator/health"]
      interval: 10s
      timeout: 5s
      retries: 10
    depends_on:
      mysql:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
      kafka:
        condition: service_healthy

  gateway:
    build: ./gateway
    container_name: ms-gateway
    ports:
      - "8081:8081"
    depends_on:
      server:
        condition: service_healthy

  usuario:
    build: ./servico-usuario
    container_name: ms-usuario
    depends_on:
      server:
        condition: service_healthy

  sala:
    build: ./servico-sala
    container_name: ms-sala
    depends_on:
      server:
        condition: service_healthy

  reserva:
    build: ./servico-reserva
    container_name: ms-reserva
    depends_on:
      server:
        condition: service_healthy

  email:
    build: ./servico-email
    container_name: ms-email
    depends_on:
      server:
        condition: service_healthy
    environment:
      - EMAIL_USERNAME=${EMAIL_USERNAME}
      - EMAIL_PASSWORD_VOLLMED=${EMAIL_PASSWORD_VOLLMED}

  log:
    build: ./servico-log
    container_name: ms-log
    depends_on:
      server:
        condition: service_healthy

volumes:
  mysql_data: